@font-face {
  font-family: 'Audiowide';
  src: url('../public/assets/Fonts/Audiowide-Regular.ttf') format('truetype'); /* Adjust the path accordingly */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Audiowide';
  src: url('../public/assets/Fonts/Audiowide-Regular.ttf') format('truetype'); /* Adjust the path accordingly */
  font-weight: bold;
  font-style: normal;
}

.Container {
  width: 100%; /* Default width for smaller screens */
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.eveonline.com%2Fnews%2Fview%2Falpha-ship-spotlight-brutix&psig=AOvVaw2kVYg0k3AAMQCK-E6L0Lrr&ust=1705258861211000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIDi6bmG24MDFQAAAAAdAAAAABAH');
  background-position: center;
  background-size: cover;

  @media (min-width: 768px) {
    width: 50%; /* Adjust as needed for larger screens */
  }

  @media (min-width: 1024px) {
    width: 30%; /* Adjust as needed for even larger screens */
  }
}
